<div class="container-fluid">
    <div class="row">
        <div class="col-xl-2 col-md-4">
            <H1 class="text-white mb-4">Quản lý</H1>
            <div class="card bg-primary text-white">
                <button type="button" class="btn btn-danger btn-lg">Bàn</button>
            </div>
            <div class="card bg-primary text-white">
                <button type="button" class="btn btn-primary btn-lg">Đơn đặt hàng</button>
            </div>
            <div class="card bg-primary text-white">
                <button type="button" class="btn btn-primary btn-lg">Món ăn</button>
            </div>
            <div class="card bg-primary text-white">
                <button type="button" class="btn btn-primary btn-lg">Thống kê</button>
            </div>
            <div class="card bg-primary text-white">
                <button type="button" class="btn btn-primary btn-lg">Tài khoản nhân viên</button>
            </div>
        </div>
        <div class="col-xl-10 col-md-4">
            <div class="container-fluid mt-5">
                <div class="card mb-4">
                    <div class="card-header"><i class="fas fa-table mr-3"></i>Thống kê số bàn</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th style="text-align: center">Tổng số bàn</th>
                                    <th style="text-align: center">Số bàn trống</th>
                                    <th style="text-align: center">Số bàn đang có khách</th>
                                    <th style="text-align: center">Số bàn đang được đặt trước</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="card-header"><i class="fas fa-table mr-3"></i>Danh sách bàn</div>
                </div>
            </div>
        </div>
    </div>
</div>
